memory-profiler==0.61.0

# Hyperparameter optimization
optuna==4.3.0

# Machine learning
joblib>=1.4.2
lightgbm==4.5.0
numpy>=1.24.4
pandas>=1.5.3  
scikit-learn==1.4.2
scipy>=1.10.1
shap>=0.45.0  
threadpoolctl>=2.2.0
xgboost==2.0.0

# Deep learning (CUDA 11.8)
# Requires pre-installed CUDA Toolkit 11.8
torch==2.2.0+cu118
torchaudio==2.2.0+cu118
torchvision==0.17.0+cu118

# R environment: R-4.2.3
rpy2 == 3.5.17
# refer to https://rpy2.github.io/doc/latest/html/introduction.html